body {
	font-size: 16px;
	color: #000;
	background-color: #fff;
}

#header-nav { /* Navigation bar */
	background-color: #DEE;
	border-radius: 20px;
	border: 2px solid #BCC;
	margin-bottom: 15px;
}

#logo-img { /* Logo */
	background: url("../img/logo_md.png") no-repeat;
	width: 71px;
	height: 55px;
	margin: 10px;
}
.navbar-brand {
	padding-top: 15px;
}
.navbar-brand h1 { /* Name */
	color: #259;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: 1px 2px 3px #424;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;
}
.navbar-brand h2 { /* Department */
	color: #831;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0px;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus { /* Remove underlines */
	text-decoration: none;
}
.navbar-brand p { 
	color: #F00;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.nav-item a {
	background-color: #8BC;
	margin: 2px;
	text-align: center;
}
.nav-item a:hover {
	background: #ADE;
}

.navbar-header button.navbar-toggler {
	border: 1px solid #8BC;
}
.navbar-header button.navbar-toggler {
	clear: both;
}

nav svg { /* Menu icon */
	width: 1em;
	height: 1em;
	margin: 5px;
	fill: currentColor;
}

/* Body */
span.markR {
	color: #F00;
}
span.markB {
	color: #00F;
}
div img {
	margin-top: 0px;
	margin-bottom: 20px;
}

/* Peep reservation table */
@media screen and (max-device-width: 600px) { /* Smart phone */
	div.frm{
	  style=border: none;
	  width: 190px;
	  height: 1200px;
	  margin-top: 0px;
	  overflow: hidden;
	  position: absolute;
	}
	div.frm iframe {
	  style=border: none;
	  width: 190px;
	  height: 1550px;
	  margin-top: -340px;
	  transform-origin: 0% 0%;
	  transform: scale(1, 0.8);
	}
	div.box{
	  transform: translate(52px, 65px);
	  width: 140px;
	  height: 830px;
	  background-color: #ccc2;
	  border: none;
	  margin-bottom: 100px;
	  position: relative;
	}
}
@media screen and (min-device-width: 601px) and (max-device-width: 1024px) { /* Tablet */
	div.frm{
	  style=border: none;
	  width: 210px;
	  height: 2400px;
	  margin-top: 0px;
	  overflow: hidden;
	  position: absolute;
	}
	div.frm iframe {
	  style=border: none;
	  width: 210px;
	  height: 2800px;
	  margin-top: -340px;
	  transform-origin: 0% 0%;
	  transform: scale(1, 0.8);
	}
	div.box{
	  transform: translate(75px, 70px);
	  width: 135px;
	  height: 1830px;
	  background-color: #ccc2;
	  border: none;
	  margin-bottom: 100px;
	  position: relative;
	}
}
@media screen and (min-device-width: 1025px) { /* PC */
	div.frm{
	  style=border: none;
	  width: 190px;
	  height: 800px;
	  margin-top: 0px;
	  overflow: hidden;
	  position: absolute;
	}
	div.frm iframe {
	  style=border: none;
	  width: 190px;
	  height: 1250px;
	  margin-top: -340px;
	  transform-origin: 0% 0%;
	  transform: scale(1, 0.8);
	}
	div.box{
	  transform: translate(52px, 65px);
	  width: 140px;
	  height: 560px;
	  background-color: #ccc4;
	  border: none;
	  margin-bottom: 100px;
	  position: relative;
	}
}


div h2 {
	color: #831;
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
}
div h3 {
	color: #002;
	font-size: 18px;
	font-weight: bold;
}
div h2#reserve a { /* Online reservation */
	background-color: #FE3;
	border: 1px solid #DA1;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px 5px 10px;
}
div h2#febrile a {	/* Febrile consultation */
	background-color: #F42;
	border: 1px solid #D20;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px 5px 10px;
}
div h2#telemed a { /* Telemedicine */
	background-color: #AC4;
	border: 1px solid #8A2;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px 5px 10px;
}
div h2#fluvac a {	/* Influenza vaccine */
	background-color: #68A;
	border: 1px solid #468;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px 5px 10px;
}
div h2#interview a { /* Interview sheet */
	background-color: #7CC;
	border: 1px solid #5AA;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px 5px 10px;
}
div h2#back a { /* Back to index */
	background-color: #999;
	border: 1px solid #777;
	border-radius: 3px;
	color: #000;
	padding: 3px 6px 3px 6px;
 }

div h2 a:hover, div h2 a:focus {
	text-decoration: none;
}
div h2 a svg { /* Button icon */
	width: 1em;
	height: 1em;
	margin-bottom: 6px;
	margin-right: 6px;
	fill: currentColor;
}
button.btn-primary { /* Accordion button */
	/*background-color: #8BC;
	border: 1px solid #048;*/
	padding: 2px;
	margin-bottom: 15px;
}
div#collapseDetail div.card {
	background-color: #AFF;
	padding: 5px;
	margin-bottom: 15px;
}
div#collapseSoftbank div.card {
	background-color: #CCC;
	padding: 5px;
	margin-bottom: 15px;
}
div#collapseYmobile div.card {
	background-color: #FAA;
	padding: 5px;
	margin-bottom: 15px;
}
div .table tr { /* Table */
	background-color: #033;
}
div .table tr.mark { /* Marked row */ 
	background-color: #603;
}
div .table td, div .table th {
	padding: 5px;
	text-align: center;
}
div .table td.mark { /* Marked table */
	background-color: #8A2;
}
div .border {
	padding: 5px;
	font-size: 14px;
}

form.form-inline {
	-ms-flex-flow: nowrap;
	flex-flow: nowrap;
}

ul {
	padding-left:25px;
}
li.list-group-item {
	font-weight: bold;
}
li.list-group-item li {
	font-weight: normal;
}
li article {
	font-weight: normal;
}
ol {
	padding-left:25px;
}

/* Footer */
footer {
	background-color: #8A2;
}
footer p {
	color: #FFF;
	font-size: 0.8em;
	margin-bottom: 0px;
}
footer a {
	background-color: #8BC;
	border: 1px solid #69A;
	border-radius: 5px;
	margin-top: 7px;
	color: #000;
}